{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/conta/Desktop/libairthe/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>C:/Users/conta/Desktop/libairthe/templates/home/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
