{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réservation{% endblock %}

{% block content %}
    <div class="container m-4">
        <div class="card m-3 p-3 shadow-lg">
            <h1 class="text-center mb-4">Réserver ce voyage</h1>
            <div class="m-auto" style="max-width: 600px;">
                {{ form_start(form) }}

                {% for field in form %}
                    <div class="mb-3">
                        {{ form_row(field) }}
                    </div>
                {% endfor %}

                <div class="text-center">
                    <button type="submit" class="btn btn-success">Réserver</button>
                </div>

                {{ form_end(form) }}
            </div>

            <div class="m-3 text-center">
                <a href="{{ path('app_reservation_index') }}" class="btn btn-secondary">Retour à la liste</a>
            </div>
        </div>
    </div>

{% endblock %}