{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block content %}
    <div class="m-5">
        <h1 class="pt-5">Catégories</h1>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            {% for child in catalog %}
                <div class="col mb-4">
                    {{ include('category/_partials/category-card.html.twig') }}
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
