<div class="card destination-card">

    <div class="card-body">
        <h5 class="card-title">{{ child.label }}</h5>
        <div>
            <img class="img-fluid rounded" src="{{ asset('images/destinations/' ~ child.path) }}" alt="image de {{ child.label }}" style="max-height: 200px; object-fit: cover; width: 100%;">
        </div>
    </div>

    <div class="card-footer d-flex m-auto">
        <a href="{{ path('app_destination_travels', {'slug': child.slug}) }}" class="btn btn-primary">Voir les voyages</a>
    </div>
</div>
