body {
    background-color: #C7F9CC;
}

design-dark-blue {
    background-color: #22577A;
}

design-blue {
    background-color: #38A3A5;
}

design-blue-green {
    background-color: #57CC99;
}

design-green {
    background-color: #80ED99;
}

design-light-green {
    background-color: #C7F9CC;
}