{% extends 'base.html.twig' %}

{% block title %}Travel index{% endblock %}

{% block content %}
    <div class="m-5">
        <h1 class="pt-5">Voyages</h1>

        <div class="row row-cols-sm-1 row-cols-lg-2">
            {% for child in catalog %}
                <div class="col mb-4">
                    {{ include('travel/_partials/travel-card.html.twig') }}
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
