{% extends 'base.html.twig' %}

{% block title %}Voyage vers {{ destination.label }}{% endblock %}

{% block content %}
    <div class="m-3">
        <h1 class="pt-5 text-center">Voyages vers {{ destination.label }}</h1>
        <div class="m-5">
            {% if destinationTravels is not empty %}
                <div class="row {% if destinationTravels|length == 1 %}justify-content-center{% else %}row-cols-sm-1 row-cols-lg-2{% endif %}">
                    {% for child in destinationTravels %}
                        <div class="col mb-2 {% if destinationTravels|length == 1 %}col-md-6 col-lg-12{% endif %}">
                            {{ include('travel/_partials/travel-card.html.twig') }}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-center py-5">Revenez plus tard, il n'y a actuellement aucun voyage disponible pour cette destination.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
