{% extends 'base.html.twig' %}

{% block title %} Page de paiement {% endblock %}

{% block content %}

	<div class="container">
		<h1>Page de Paiement</h1>
		<p>Montant à payer: {{ (reservation.totalPrice /100) }} €</p>
		<form action="{{ path('app_payment_confirm', {'slug': reservation.slug}) }}" method="post">
			<button class="btn btn-success">Payer</button>
		</form>
		<div class="mt-3">
			<a href="{{ path('app_reservation_index') }}" class="btn btn-secondary">Retour</a>
		</div>
	</div>

{% endblock %}