{% extends 'base.html.twig' %}
{% block title %} Mon espace client {% endblock %}

{% block content %}
	<div class="design-green width-100">
		<div class="card text-center shadow-lg">
			<div class="card-header">
				{#{{ user.firstName }}#}
			</div>
			<div class="card-body">
				<h5 class="card-title">Special title treatment</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
			<div class="card-footer text-body-secondary">
				2 days ago
			</div>
		</div>
	</div>
{% endblock %}
